## **Aula 1 - Fazendo leitura de arquivos CSV**

Dados:
- https://github.com/alura-cursos/Pandas/blob/main/superstore_data.csv
- https://github.com/alura-cursos/Pandas/blob/main/superstore_data_ponto_virgula.csv

### **Lendo arquivos CSV**

In [3]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/superstore_data.csv'

In [4]:
dados = pd.read_csv(url)

In [5]:
dados.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [6]:
url_2 = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/superstore_data_ponto_virgula.csv'

In [7]:
dados_ponto_virgula = pd.read_csv(url_2)

In [8]:
dados_ponto_virgula.head()

  Id;Year_Birth;Education;Marital_Status;Income;Kidhome;Teenhome;Dt_Customer;Recency;MntWines;MntFruits;MntMeatProducts;MntFishProducts;MntSweetProducts;MntGoldProds;NumDealsPurchases;NumWebPurchases;NumCatalogPurchases;NumStorePurchases;NumWebVisitsMonth;Response;Complain
0  1826;1970;Graduation;Divorced;84835;0;0;6/16/2...
1  1;1961;Graduation;Single;57091;0;0;6/15/2014;0...
2  10476;1958;Graduation;Married;67267;0;1;5/13/2...
3  1386;1967;Graduation;Together;32474;1;1;11/5/2...
4  5371;1989;Graduation;Single;21474;1;0;8/4/2014...

### **Parâmetros da função read_csv**
Documentação: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [9]:
dados_ponto_virgula = pd.read_csv(url_2, sep = ';')

In [10]:
dados_ponto_virgula

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,66476.0,0,1,7/3/2013,99,372,...,47,48,78,2,5,2,11,4,0,0
2236,5263,1977,2n Cycle,Married,31056.0,1,0,1/22/2013,99,5,...,3,8,16,1,1,0,3,8,0,0
2237,22,1976,Graduation,Divorced,46310.0,1,0,3/12/2012,99,185,...,15,5,14,2,6,1,5,8,0,0
2238,528,1978,Graduation,Married,65819.0,0,0,11/29/2012,99,267,...,149,165,63,1,5,4,10,3,0,0
2239,4070,1969,PhD,Married,94871.0,0,2,1/9/2012,99,169,...,188,0,144,1,8,5,4,7,1,0

In [11]:
dados_primeiras_linhas = pd.read_csv(url,nrows=5)
dados_primeiras_linhas

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [12]:
dados_selecao = pd.read_csv(url, usecols=['Id', 'Year_Birth', 'Income'])
dados_selecao

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

In [13]:
dados_selecao = pd.read_csv(url, usecols=[0,1,4])
dados_selecao

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

### **Escrevendo arquivos CSV**

Documentação: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [14]:
dados_selecao.to_csv('clientes_mercado.csv')

In [18]:
clientes_mercado = pd.read_csv('clientes_mercado.csv')
clientes_mercado

      Unnamed: 0     Id  Year_Birth   Income
0              0   1826        1970  84835.0
1              1      1        1961  57091.0
2              2  10476        1958  67267.0
3              3   1386        1967  32474.0
4              4   5371        1989  21474.0
...          ...    ...         ...      ...
2235        2235  10142        1976  66476.0
2236        2236   5263        1977  31056.0
2237        2237     22        1976  46310.0
2238        2238    528        1978  65819.0
2239        2239   4070        1969  94871.0

[2240 rows x 4 columns]

In [19]:
dados_selecao.to_csv('dados_mercado.csv', index=False)

In [20]:
dados_mercado = pd.read_csv('dados_mercado.csv')
dados_mercado

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

## **Aula 2 - Utilizando planilhas**

Dados: https://github.com/alura-cursos/Pandas/blob/main/emissoes_CO2.xlsx

### **Lendo arquivos Excel**

In [21]:
import pandas as pd

In [22]:
url = 'https://github.com/alura-cursos/Pandas/blob/main/emissoes_CO2.xlsx?raw=True'

In [23]:
dados_co2 = pd.read_excel(url)

In [24]:
dados_co2.head()

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Oléo,Gás,Cimento,Queima,Outro,Per Capita
0,Afeganistão,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
pd.ExcelFile(url).sheet_names

['emissoes_C02', 'emissoes_percapita', 'fontes']

### **Parâmetros da função read_excel**

Documentação: https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

In [26]:
percapita = pd.read_excel(url, sheet_name='emissoes_percapita')

In [27]:
percapita.head()

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Óleo,Gás,Cimento,Queima,Outro
0,Afeganistão,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
fontes = pd.read_excel(url, sheet_name='fontes')

In [29]:
fontes.head()

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Oléo,Gás,Cimento,Queima,Outro,Per Capita
0,Afeganistão,AFG,1750,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
1,Afeganistão,AFG,1751,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
2,Afeganistão,AFG,1752,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
3,Afeganistão,AFG,1753,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
4,Afeganistão,AFG,1754,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]

In [30]:
intervalo = pd.read_excel(url, sheet_name='emissoes_C02', usecols= 'A:D')

In [31]:
intervalo

              País ISO 3166-1 alpha-3   Ano         Total
0      Afeganistão                AFG  1750  0.000000e+00
1      Afeganistão                AFG  1751  0.000000e+00
2      Afeganistão                AFG  1752  0.000000e+00
3      Afeganistão                AFG  1753  0.000000e+00
4      Afeganistão                AFG  1754  0.000000e+00
...            ...                ...   ...           ...
63099       Global                WLD  2017  3.609674e+10
63100       Global                WLD  2018  3.682651e+10
63101       Global                WLD  2019  3.708256e+10
63102       Global                WLD  2020  3.526409e+10
63103       Global                WLD  2021  3.712385e+10

[63104 rows x 4 columns]

In [32]:
intervalo_2 = pd.read_excel(url, sheet_name='emissoes_C02', usecols= 'A:D', nrows=10)

In [33]:
intervalo_2

          País ISO 3166-1 alpha-3   Ano  Total
0  Afeganistão                AFG  1750      0
1  Afeganistão                AFG  1751      0
2  Afeganistão                AFG  1752      0
3  Afeganistão                AFG  1753      0
4  Afeganistão                AFG  1754      0
5  Afeganistão                AFG  1755      0
6  Afeganistão                AFG  1756      0
7  Afeganistão                AFG  1757      0
8  Afeganistão                AFG  1758      0
9  Afeganistão                AFG  1759      0

### **Escrevendo arquivos Excel**

In [34]:
percapita.to_excel('co2_percapita.xlsx', index=False)

In [35]:
pd.read_excel('co2_percapita.xlsx')

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Óleo,Gás,Cimento,Queima,Outro
0,Afeganistão,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,4749682.0,1908857.0,1610910.0,940144.0,198416.0,51579.0,39776.0
63100,Global,WLD,2018,4792753.0,1919213.0,1596350.0,979965.0,204225.0,53634.0,39366.0
63101,Global,WLD,2019,4775633.0,1896468.0,1589920.0,984878.0,208309.0,56569.0,39490.0
63102,Global,WLD,2020,4497423.0,1807760.0,1427353.0,963695.0,208844.0,51981.0,37789.0
63103,Global,WLD,2021,4693699.0,1893923.0,1496614.0,1001585.0,211472.0,52663.0,37443.0

### **Lendo dados do Google Planilhas**

link da planilha: https://docs.google.com/spreadsheets/d/1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog/edit?usp=sharing

In [36]:
sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

In [37]:
dados_co2_sheets = pd.read_csv(url)

In [38]:
dados_co2_sheets

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Oléo,Gás,Cimento,Queima,Outro,Per Capita
0,Afeganistão,AFG,1750,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,36.096.739.276,14.506.973.805,12.242.627.935,7.144.928.128,1.507.923.185,391.992.176,302.294.047,4.749.682
63100,Global,WLD,2018,36.826.506.600,14.746.830.688,12.266.016.285,7.529.846.784,1.569.218.392,412.115.746,302.478.706,4.792.753
63101,Global,WLD,2019,37.082.558.969,14.725.978.025,12.345.653.374,7.647.528.220,1.617.506.786,439.253.991,306.638.573,4.775.633
63102,Global,WLD,2020,35.264.085.734,14.174.564.010,11.191.808.551,7.556.290.283,1.637.537.532,407.583.673,296.301.685,4.497.423
63103,Global,WLD,2021,37.123.850.352,14.979.598.083,11.837.159.116,7.921.829.472,1.672.592.372,416.525.563,296.145.746,4.693.699

In [39]:
sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'
sheet_name = 'emissoes_percapita'
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [40]:
percapita_sheets = pd.read_csv(url_percapita)

In [41]:
percapita_sheets.head()

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Óleo,Gás,Cimento,Queima,Outro
0,Afeganistão,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
sheet_id = '1lzq0k-41-MbbS63C3Q9i1wPvLkSJt9zhr4Jolt1vEog'
sheet_name = 'fontes'
url_fontes = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [43]:
fontes_sheets = pd.read_csv(url_fontes)

In [44]:
fontes_sheets.head()

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Oléo,Gás,Cimento,Queima,Outro,Per Capita
0,Afeganistão,AFG,1750,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
1,Afeganistão,AFG,1751,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
2,Afeganistão,AFG,1752,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
3,Afeganistão,AFG,1753,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
4,Afeganistão,AFG,1754,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]

## **Aula 3 - Manipulando arquivos JSON**

Dados:
- https://github.com/alura-cursos/Pandas/blob/main/pacientes.json
- https://github.com/alura-cursos/Pandas/blob/main/pacientes_2.json

### **Lendo arquivos JSON**

In [45]:
import pandas as pd

In [46]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/refs/heads/main/pacientes.json'
dados_pacientes = pd.read_json(url)

In [47]:
dados_pacientes

,ID_paciente,Doenca_cardiaca,IMC,Fumante,Consumo_alcool,AVC,Saude_fisica,Saude_mental,Dificuldade_caminhar,Sexo_biologico,Faixa_etaria,Raca,Diabetes,Atividade_fisica,Saude_geral,Horas_sono,Asma,Doenca_renal,Cancer_pele
0,0,Nao,16.60,Sim,Nao,Nao,3,30,Nao,Feminino,55-59,Branca,Sim,Sim,Muito boa,5,Sim,Nao,Sim
1,1,Nao,20.34,Nao,Nao,Sim,0,0,Nao,Feminino,80 ou +,Branca,Nao,Sim,Muito boa,7,Nao,Nao,Nao
2,2,Nao,26.58,Sim,Nao,Nao,20,30,Nao,Masculino,65-69,Branca,Sim,Sim,Razoavel,8,Sim,Nao,Nao
3,3,Nao,24.21,Nao,Nao,Nao,0,0,Nao,Feminino,75-79,Branca,Nao,No,Boa,6,Nao,Nao,Sim
4,4,Nao,23.71,Nao,Nao,Nao,28,0,Sim,Feminino,40-44,Branca,Nao,Sim,Muito boa,8,Nao,Nao,Nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Nao,28.29,Sim,Nao,Nao,10,20,Nao,Feminino,65-69,Preta,Sim,Sim,Razoavel,8,Nao,Nao,Nao
996,996,Nao,25.69,Sim,Nao,Nao,0,0,Nao,Feminino,75-79,Branca,Nao,Sim,Excelente,8,Nao,Nao,Nao
997,997,Sim,26.99,Nao,Nao,Nao,1,0,Nao,Masculino,70-74,Branca,Nao,Sim,Muito boa,8,Nao,Nao,Nao
998,998,Nao,44.29,Nao,Nao,Nao,30,0,Sim,Feminino,70-74,Branca,Sim,No,Boa,6,Sim,Nao,Nao
999,999,Nao,25.83,Nao,Nao,Nao,0,0,Nao,Masculino,70-74,Preta,Sim,No,Excelente,7,Nao,Nao,Nao

In [49]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/refs/heads/main/pacientes_2.json'
dados_pacientes_2 = pd.read_json(url)

In [50]:
dados_pacientes_2

,Pesquisa,Ano,Pacientes
0,Principais Indicadores de Doenca Cardiaca,2020,"{'ID': '01', 'Faixa_etaria': '55-59', 'Sexo_bi..."
1,Principais Indicadores de Doenca Cardiaca,2020,"{'ID': '02', 'Faixa_etaria': '80 ou +', 'Sexo_..."
2,Principais Indicadores de Doenca Cardiaca,2020,"{'ID': '03', 'Faixa_etaria': '65-69', 'Sexo_bi..."

### **Normalizando arquivos JSON**

In [51]:
df_normalizado = pd.json_normalize(dados_pacientes_2['Pacientes'])

In [52]:
df_normalizado

,ID,Faixa_etaria,Sexo_biologico,Raça,IMC,Fumante,Consumo_alcool,Saude_fisica,Saude_mental,Dificuldade_caminhar,Atividade_fisica,Saude_geral,Horas_sono,Problemas_saude
0,01,55-59,Feminino,Branca,16.60,Sim,Nao,3,30,Nao,Sim,Muito boa,5,"[Diabetes, Asma, Cancer_pele]"
1,02,80 ou +,Feminino,Branca,20.34,Nao,Nao,0,0,Nao,Sim,Muito boa,7,[AVC]
2,03,65-69,Masculino,Branca,26.58,Sim,Nao,20,30,Nao,Sim,Muito boa,8,"[diabetes, Asma]"

### **Escrevendo arquivos JSON**

In [53]:
df_normalizado.to_json('historico_pacientes_norm.json')

In [54]:
pd.read_json('historico_pacientes_norm.json')

,ID,Faixa_etaria,Sexo_biologico,Raça,IMC,Fumante,Consumo_alcool,Saude_fisica,Saude_mental,Dificuldade_caminhar,Atividade_fisica,Saude_geral,Horas_sono,Problemas_saude
0,1,55-59,Feminino,Branca,16.60,Sim,Nao,3,30,Nao,Sim,Muito boa,5,"[Diabetes, Asma, Cancer_pele]"
1,2,80 ou +,Feminino,Branca,20.34,Nao,Nao,0,0,Nao,Sim,Muito boa,7,[AVC]
2,3,65-69,Masculino,Branca,26.58,Sim,Nao,20,30,Nao,Sim,Muito boa,8,"[diabetes, Asma]"

## **Aula 4 - Lendo dados em HTML e XML**

Dados: https://github.com/alura-cursos/Pandas/blob/main/filmes_wikipedia.html

### **Lendo páginas web**

In [55]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/filmes_wikipedia.html'

In [80]:
dados_html= pd.read_html(url)

In [81]:
dados_html

[       0                      1
 0   1998             100 Movies
 1   1999              100 Stars
 2   2000             100 Laughs
 3   2001            100 Thrills
 4   2002           100 Passions
 5   2003  100 Heroes & Villains
 6   2004              100 Songs
 7   2005       100 Movie Quotes
 8   2005              25 Scores
 9   2006             100 Cheers
 10  2006            25 Musicals
 11  2007   100 Movies (Updated)
 12  2008        AFI's 10 Top 10
 13   vte                    vte,
                             Film  Release year              Director  \
 0                   Citizen Kane          1941          Orson Welles
 1                     Casablanca          1942        Michael Curtiz
 2                  The Godfather          1972  Francis Ford Coppola
 3             Gone with the Wind          1939        Victor Fleming
 4             Lawrence of Arabia          1962            David Lean
 ..                           ...           ...                   ...
 95                 The Searchers          1956             John Ford
 96              Bringing Up Baby          1938          Howard Hawks
 97                    Unforgiven          1992        Clint Eastwood
 98  Guess Who's Coming to Dinner          1967        Stanley Kramer
 99           Yankee Doodle Dandy          1942        Michael Curtiz

                       Production companies  Rank
 0                       RKO Radio Pictures     1
 1                    Warner Bros. Pictures     2
 2   Paramount Pictures, Alfran Productions     3
 3          Selznick International Pictures     4
 4                         Horizon Pictures     5
 ..                                     ...   ...
 95                  C. V. Whitney Pictures    96
 96                      RKO Radio Pictures    97
 97                     The Malpaso Company    98
 98                       Columbia Pictures    99
 99                   Warner Bros. Pictures   100

 [100 rows x 5 columns],
           hidevteAFI's 100 Years...100 Movies (1998)  \
 0  Citizen Kane (1941) Casablanca (1942) The Godf...

         hidevteAFI's 100 Years...100 Movies (1998).1
 0  Citizen Kane (1941) Casablanca (1942) The Godf...  ]

In [82]:
type(dados_html)

list

In [83]:
len(dados_html)

3

In [84]:
top_filmes = dados_html[1]

In [ ]:
top_filmes

,Film,Release year,Director,Production companies,Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5
...,...,...,...,...,...
95,The Searchers,1956,John Ford,C. V. Whitney Pictures,96
96,Bringing Up Baby,1938,Howard Hawks,RKO Radio Pictures,97
97,Unforgiven,1992,Clint Eastwood,The Malpaso Company,98
98,Guess Who's Coming to Dinner,1967,Stanley Kramer,Columbia Pictures,99
99,Yankee Doodle Dandy,1942,Michael Curtiz,Warner Bros. Pictures,100

### **Escrevendo arquivos HTML**

In [85]:
top_filmes.to_html('top_filmes.html')

In [86]:
pd.read_html('top_filmes.html')

[    Unnamed: 0                          Film  Release year  \
 0            0                  Citizen Kane          1941
 1            1                    Casablanca          1942
 2            2                 The Godfather          1972
 3            3            Gone with the Wind          1939
 4            4            Lawrence of Arabia          1962
 ..         ...                           ...           ...
 95          95                 The Searchers          1956
 96          96              Bringing Up Baby          1938
 97          97                    Unforgiven          1992
 98          98  Guess Who's Coming to Dinner          1967
 99          99           Yankee Doodle Dandy          1942

                 Director                    Production companies  Rank
 0           Orson Welles                      RKO Radio Pictures     1
 1         Michael Curtiz                   Warner Bros. Pictures     2
 2   Francis Ford Coppola  Paramount Pictures, Alfran Productions     3
 3         Victor Fleming         Selznick International Pictures     4
 4             David Lean                        Horizon Pictures     5
 ..                   ...                                     ...   ...
 95             John Ford                  C. V. Whitney Pictures    96
 96          Howard Hawks                      RKO Radio Pictures    97
 97        Clint Eastwood                     The Malpaso Company    98
 98        Stanley Kramer                       Columbia Pictures    99
 99        Michael Curtiz                   Warner Bros. Pictures   100

 [100 rows x 6 columns]]

In [87]:
top_filmes.to_csv('top_filmes_1998', index=False)

In [89]:
dados = pd.read_csv('top_filmes_1998')
dados.head()

,Film,Release year,Director,Production companies,Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5

### **Lendo/escrevendo arquivos XML**
Dados: https://github.com/alura-cursos/Pandas/blob/main/imdb_top_1000.xml

In [90]:
import pandas as pd

In [92]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/imdb_top_1000.xml'
dados_imdb = pd.read_xml(url)

In [93]:
dados_imdb.head(3)

,index,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"

In [94]:
dados_imdb.to_xml('filmes_imdb.xml')

## **Aula 5 - Trabalhando com banco de dados**

Dados: https://github.com/vqrca/Pandas/blob/main/clientes_banco.csv

### **Criando um banco de dados local**

In [95]:
!pip install -r "C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt"

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 4)) (2.3.4)
Requirement already satisfied: pandas in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 5)) (2.3.3)
Requirement already satisfied: scikit-learn in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 6)) (1.7.2)
Requirement already satisfied: scipy in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 7)) (1.16.2)
Requirement already satisfied: matplotlib in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 8)) (3.10.7)
Requirement already satisfied: seaborn in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 9)) (0.13.2)
Requirement already satisfied: tensorflow in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (2.20.0)
Requirement already satisfied: torch in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 15)) (2.9.0)
Requirement already satisfied: torchvision in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 16)) (0.24.0)
Requirement already satisfied: torchaudio in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 17)) (2.9.0)
Requirement already satisfied: transformers in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 18)) (4.57.1)
Requirement already satisfied: xgboost in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 23)) (3.1.0)
Requirement already satisfied: lightgbm in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 24)) (4.6.0)
Requirement already satisfied: catboost in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 25)) (1.2.8)
Requirement already satisfied: imbalanced-learn in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 26)) (0.14.0)
Requirement already satisfied: html5lib in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 27)) (1.1)
Requirement already satisfied: beautifulsoup4 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 28)) (4.14.2)
Requirement already satisfied: lxml in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 29)) (6.0.2)
Collecting sqlalchemy (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 30))
  Downloading sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: plotly in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 35)) (6.3.1)
Requirement already satisfied: altair in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 36)) (5.5.0)
Requirement already satisfied: jupyterlab in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 41)) (4.4.9)
Requirement already satisfied: notebook in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 42)) (7.4.7)
Requirement already satisfied: ipywidgets in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 43)) (8.1.7)
Requirement already satisfied: tqdm in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 44)) (4.67.1)
Requirement already satisfied: joblib in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 45)) (1.5.2)
Requirement already satisfied: requests in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 46)) (2.32.5)
Requirement already satisfied: chardet in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 47)) (5.2.0)
Requirement already satisfied: spacy in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 52)) (3.8.7)
Requirement already satisfied: nltk in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 53)) (3.9.2)
Requirement already satisfied: gensim in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 54)) (4.4.0)
Requirement already satisfied: openpyxl in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 59)) (3.1.5)
Requirement already satisfied: pyarrow in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from -r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 60)) (21.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from pandas->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 5)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from pandas->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 5)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from pandas->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 5)) (2025.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from scikit-learn->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 6)) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from matplotlib->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 8)) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from matplotlib->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 8)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from matplotlib->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 8)) (4.60.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from matplotlib->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 8)) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from matplotlib->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 8)) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from matplotlib->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 8)) (11.3.0)
Requirement already satisfied: pyparsing>=3 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from matplotlib->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 8)) (3.2.5)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (2.3.1)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (25.9.23)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (0.6.0)
Requirement already satisfied: google_pasta>=0.1.1 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (18.1.1)
Requirement already satisfied: opt_einsum>=2.3.2 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (3.4.0)
Requirement already satisfied: protobuf>=5.28.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (6.33.0)
Requirement already satisfied: setuptools in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (80.9.0)
Requirement already satisfied: six>=1.12.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (3.1.0)
Requirement already satisfied: typing_extensions>=3.6.6 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (4.15.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (2.0.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (1.76.0)
Requirement already satisfied: tensorboard~=2.20.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (2.20.0)
Requirement already satisfied: keras>=3.10.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (3.11.3)
Requirement already satisfied: h5py>=3.11.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (3.15.1)
Requirement already satisfied: ml_dtypes<1.0.0,>=0.5.1 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (0.5.3)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from requests->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 46)) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from requests->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 46)) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from requests->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 46)) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from requests->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 46)) (2025.10.5)
Requirement already satisfied: markdown>=2.6.8 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorboard~=2.20.0->tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (3.9)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorboard~=2.20.0->tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from tensorboard~=2.20.0->tensorflow->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 14)) (3.1.3)
Requirement already satisfied: filelock in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from torch->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 15)) (3.20.0)
Requirement already satisfied: sympy>=1.13.3 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from torch->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 15)) (1.14.0)
Requirement already satisfied: networkx>=2.5.1 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from torch->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 15)) (3.5)
Requirement already satisfied: jinja2 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from torch->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 15)) (3.1.6)
Requirement already satisfied: fsspec>=0.8.5 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from torch->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 15)) (2025.9.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.34.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from transformers->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 18)) (0.35.3)
Requirement already satisfied: pyyaml>=5.1 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from transformers->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 18)) (6.0.3)
Requirement already satisfied: regex!=2019.12.17 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from transformers->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 18)) (2025.10.23)
Requirement already satisfied: tokenizers<=0.23.0,>=0.22.0 in c:\users\arthur porto\appdata\roaming\python\python313\site-packages (from transformers->-r C:\Users\Arthur Porto\OneDrive\Documentos\Arthur Porto\Data & Program\data-portfolio\requirements.txt (line 18)) (0.22.1)

In [1]:
import sqlalchemy

In [2]:
from sqlalchemy import create_engine, MetaData, Table, inspect

In [3]:
engine = create_engine('sqlite:///:memory:')

### **Escrevendo em um banco de dados**

In [4]:
import pandas as pd

In [5]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv'

In [6]:
dados = pd.read_csv(url)

In [7]:
dados.head()

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio

In [8]:
dados.to_sql('clientes', engine, index=False)

438463

In [9]:
inspector = inspect(engine)

In [10]:
print(inspector.get_table_names())

['clientes']

### **Lendo uma consulta SQL**

In [11]:
query = 'SELECT * FROM clientes WHERE Categoria_de_renda = "Empregado"'

In [12]:
empregados = pd.read_sql(query, engine)

In [13]:
empregados

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008815,46,Ensino superior,Casado,2,Empregado,Contabilidade,2,270000.0,1,Casa/apartamento próprio
4,5112956,46,Ensino superior,Casado,2,Empregado,Contabilidade,2,270000.0,1,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Ensino médio,Casado,3,Empregado,Outro,7,355050.0,1,Casa/apartamento próprio
226055,6837906,43,Ensino médio,Casado,3,Empregado,Outro,7,355050.0,1,Casa/apartamento próprio
226056,6839936,34,Ensino médio,Casado,3,Empregado,Construção Civil,5,135000.0,1,Casa/apartamento próprio
226057,6840222,43,Ensino médio,Solteiro,1,Empregado,Construção Civil,8,103500.0,0,Casa/apartamento próprio
226058,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio

In [14]:
empregados.to_sql('empregados', con=engine, index=False)

226059

In [15]:
pd.read_sql_table('empregados', engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008815,46,Ensino superior,Casado,2,Empregado,Contabilidade,2,270000.0,1,Casa/apartamento próprio
4,5112956,46,Ensino superior,Casado,2,Empregado,Contabilidade,2,270000.0,1,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Ensino médio,Casado,3,Empregado,Outro,7,355050.0,1,Casa/apartamento próprio
226055,6837906,43,Ensino médio,Casado,3,Empregado,Outro,7,355050.0,1,Casa/apartamento próprio
226056,6839936,34,Ensino médio,Casado,3,Empregado,Construção Civil,5,135000.0,1,Casa/apartamento próprio
226057,6840222,43,Ensino médio,Solteiro,1,Empregado,Construção Civil,8,103500.0,0,Casa/apartamento próprio
226058,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio

In [16]:
pd.read_sql_table('empregados', engine, columns=['ID_Cliente', 'Grau_escolaridade',
                                                 'Rendimento_anual'])

        ID_Cliente Grau_escolaridade  Rendimento_anual
0          5008804   Ensino superior          427500.0
1          5008805   Ensino superior          427500.0
2          5008806      Ensino médio          112500.0
3          5008815   Ensino superior          270000.0
4          5112956   Ensino superior          270000.0
...            ...               ...               ...
226054     6837905      Ensino médio          355050.0
226055     6837906      Ensino médio          355050.0
226056     6839936      Ensino médio          135000.0
226057     6840222      Ensino médio          103500.0
226058     6842885      Ensino médio          121500.0

[226059 rows x 3 columns]

### **Atualizando um banco de dados**

In [17]:
query = 'SELECT * FROM clientes'

In [18]:
pd.read_sql(query, engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840104,62,Ensino médio,Divorciado,1,Pensionista,Outro,0,135000.0,0,Casa/apartamento próprio
438459,6840222,43,Ensino médio,Solteiro,1,Empregado,Construção Civil,8,103500.0,0,Casa/apartamento próprio
438460,6841878,22,Ensino superior,Solteiro,1,Associado comercial,Vendas,1,54000.0,0,Mora com os pais
438461,6842765,59,Ensino médio,Casado,2,Pensionista,Outro,0,72000.0,0,Casa/apartamento próprio
438462,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio

Para atualizar os dados da tabela, precisamos fazer a seguinte importação:

In [19]:
from sqlalchemy import text

Depois disso, para fazer as atualizações, vamos implementar o seguinte código:

In [20]:
query = 'DELETE FROM clientes WHERE ID_Cliente=5008804'
with engine.connect() as conn:
    result = conn.execute(text(query))
    conn.commit()

> O código estabelece uma conexão com um banco de dados usando SQLAlchemy e executa uma consulta SQL definida na variável query. Dentro do bloco `with`, que garante o fechamento automático da conexão após a execução do bloco, a consulta é enviada ao banco de dados através do método `conn.execute(text(query))`, onde `text` é usado para assegurar que a string da consulta seja tratada como uma instrução SQL. Após a execução da consulta, `conn.commit()` é chamado para confirmar a transação, assegurando que as alterações realizadas pela consulta (como inserções, atualizações ou exclusões) sejam permanentemente aplicadas no banco de dados.

In [21]:
pd.read_sql_table('clientes', engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
2,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
3,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008810,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
438457,6840104,62,Ensino médio,Divorciado,1,Pensionista,Outro,0,135000.0,0,Casa/apartamento próprio
438458,6840222,43,Ensino médio,Solteiro,1,Empregado,Construção Civil,8,103500.0,0,Casa/apartamento próprio
438459,6841878,22,Ensino superior,Solteiro,1,Associado comercial,Vendas,1,54000.0,0,Mora com os pais
438460,6842765,59,Ensino médio,Casado,2,Pensionista,Outro,0,72000.0,0,Casa/apartamento próprio
438461,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio

In [22]:
query = 'UPDATE clientes SET Grau_escolaridade="Ensino superior" WHERE ID_Cliente=5008808'
with engine.connect() as conn:
    result = conn.execute(text(query))
    conn.commit()

In [23]:
pd.read_sql_table('clientes', engine)

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
2,5008808,52,Ensino superior,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
3,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008810,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
438457,6840104,62,Ensino médio,Divorciado,1,Pensionista,Outro,0,135000.0,0,Casa/apartamento próprio
438458,6840222,43,Ensino médio,Solteiro,1,Empregado,Construção Civil,8,103500.0,0,Casa/apartamento próprio
438459,6841878,22,Ensino superior,Solteiro,1,Associado comercial,Vendas,1,54000.0,0,Mora com os pais
438460,6842765,59,Ensino médio,Casado,2,Pensionista,Outro,0,72000.0,0,Casa/apartamento próprio
438461,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio